# SPDX-License-Identifier: GPL-2.0-or-later
[Desktop Entry]
Version=@@VERSION@@
Name=@@APPNAME@@
Exec=@@EXECUTABLE@@
Type=Application
Categories=@@CATEGORY@@;
Icon=@@ICON@@