*.o
*.img
*.elf
*.bin
*.log
.vscode
libshared.a
*.a
dump.dtb
fs
dump
*.cfg
.cache/*
compile_commands.json
.clangd
.DS_STORE
*.d
*.red
*.r
trace
packaging/input/
packaging/staging/
packaging/setup.lisp
playground/
